
/* Universal Selector rules */

*{
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #dfdfdf;
    text-transform: capitalize;
}

/* Heading rules */

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #445361;
}

/* P element rule */

p {
    font-size: 1.5rem;
    color: #445361;
}

/* div element rules */

div {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* The rules for the icons at the top of the page
(person and computer). */

.icon-block {
    font-size: 50px;
    width: 100%;
    color: #445361;
}

.icon-block {
    gap: 5rem;
}

#turn {
    width: 100%;
    margin:  40px 50px 5px 0px;
}

/* The Rock, Paper, scissors styling rules */

.button {
    border-radius: 30%;
    background-color: rgba(0, 0, 0, 0);
    color: #445361;
    border: 10px solid;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
    width: 100px;
    height: 100px;
    font-size: 3.2rem;
    margin: 10px;
    transition: all 0.5s;
}

.button::after {
    content:attr(data-type);
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    color: #445361;
    position: relative;
}

.btn-rock:active,
.btn-rock:hover {
    color: #ce8128b9;
    background-color: #dfdfdf;
}

.btn-paper:active,
.btn-paper:hover {
    color: #cbb7a5;
    background-color: #dfdfdf;
}

.btn-scissors:active,
.btn-scissors:hover {
    color: #b85229;
    background-color: #dfdfdf;
}

/* The restart button styling rules */

.refresh {
    border-radius: 30%;
    background-color: rgba(0, 0, 0, 0);
    color: #445361;
    border: 10px solid;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
    width: 100px;
    height: 100px;
    font-size: 3.2rem;
    margin: 10px;
    transition: all 0.5s;
}

.refresh::after {
    content:attr(data-type);
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    color: #445361;
    position: relative;
}

.refresh:active,
.refresh:hover {
    color: #690a12;
    background-color: #dfdfdf;
}

/* This will make the icons at the top of the page
(person and computer) disappear when the user has
a screen width of 500px or less. */

@media (max-width: 500px) {

    .icon-block {
        font-size: 50px;
        width: 100%;
        display: none;
    }
}

/* This will change the headings font size to 1.7rem
when the user has a screen width to 320px or less.  */

@media (max-width: 320px) {
    .heading {
        font-size: 1.7rem
    }
}