/* *{
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    background-color: white;
    color: #445361;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
} */



