*{
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(9, 10, 10);
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #445361;
}

p {
    font-size: 1.5rem;
    color: #445361;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#turn {
    width: 100%;
    margin:  40px 50px 5px 0px;
}

.button {
    border-radius: 30%;
    background-color: rgba(0, 0, 0, 0);
    color: #445361;
    border: 10px solid;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
    width: 100px;
    height: 100px;
    font-size: 3.2rem;
    margin: 10px;
    transition: all 0.5s;
}

.button::after {
    content:attr(data-type);
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    color: #445361;
    position: relative;
}

.btn-rock:active,
.btn-rock:hover {
    color: #ce8128b9;
    background-color: black;
}

.btn-paper:active,
.btn-paper:hover {
    color: #EDE2D3;
    background-color: black;
}

.btn-scissors:active,
.btn-scissors:hover {
    color: #b85229;
    background-color: black;
}

.refresh {
    border-radius: 30%;
    background-color: rgba(0, 0, 0, 0);
    color: #445361;
    border: 10px solid;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
    width: 100px;
    height: 100px;
    font-size: 3.2rem;
    margin: 10px;
    transition: all 0.5s;
}

.refresh::after {
    content:attr(data-type);
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    color: #445361;
    position: relative;
}

.refresh:active,
.refresh:hover {
    color: #690a12;
    background-color: black;
}